.classify-speech {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
}

.topic-container {
    flex-basis: 25%;
    font-size: 0.8em;
    position: sticky;
    top: 0px;
}

.topic__label {
    font-size: 0.8em;
}

.speech-container {
    flex-basis: 70%;
}


