{% extends "base.html" %}
{% block content %}
  <main class="classify-debate">

    <div class="topics-container">
        <form class="topics" action="/classify_debate" method="post">
            <h2>Topics</h2>
            <div class="topics__grid">
                {% for topic in topics %}
                    <label for="topic-{{ topic }}" class="topic__label">
                        <input type="checkbox" id="topic-{{ topic }}" name={{ topic }}>
                        <span>{{ topic }}</span>
                    </label>
                {% endfor %}
            </div>
            <input type="hidden" id="debate-id" name="debate-id" value={{ debate_id }}>
            <input type="submit" role="button" value="Classify">
        </form>
    </div>

    <section class="debate">
        <h3 class="debate__title">{{ debate_title }}</h3>
        <div class="debate__container">
            {{ html|safe }}
        </div>
    </section>
  </main>
{% endblock %}
